//glopal
%flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

//style slider
.rec.rec-carousel-wrapper {
    // direction: rtl;

}

.rec.rec-arrow {
    display: none;
}

.rec.rec-pagination {
    // direction: ltr;

    .rec.rec-dot.rec.rec-dot_active {
        background-color: var(--primary-color);
        box-shadow: 0 0 1px 3px white;
    }
}

//header cards
.main-card-users {
   
    // margin-top: 20px;



    .header-cards {
       

        .right-header {
            h5 {
                font-weight: bold;
            }
        }

        .left-header {
            @extend %flex-box;

            .date-header {
                margin: 0 8px 0 00px;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                background-repeat: no-repeat;
                background-position-x: 12%;
                background-position-y: 16px;
                border-radius: 2px;
                margin-right: 2rem;
                padding: 1rem;
                padding-right: 2rem;

                select {
                    border: none;
                    padding: 4px 0;
                    background-color: transparent;

                    option {
                        border: 10px solid var(--font);

                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

            }

            .button-details {
                margin: 0 5px;

                a {
                    padding: 8px 20px;
                    border: 1px solid var(--font);
                    border-radius: 4px;
                    color: var(--font);
                    transition: 0.4s;

                    &:hover {
                        background-color: var(--secound-color);
                        color: white;
                    }
                }
            }
        }
    }

    //cards
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .items-cards {
            width: 350px;
            margin: 10px 10px;

            @media (max-width:670px) {
                width: 100%;
            }

            //start header one item
            .black {
                background-color: var(--secound-color);
            }

            .red {
                background-color: var(--danger-color)
            }

            .green {
                background-color: var(--succes-color)
            }

            .yallow {
                background-color: var(--orange-color)
            }

            .header-item {
                @extend %flex-box;


                padding: 5px 15px;

                color: white;
                border-radius: 14px 14px 0 0;

                h4 {
                    font-size: 17px;
                    font-weight: bold;

                }

                .date-order {
                    p {
                        font-size: 14px;

                        &.tiem {
                            direction: ltr;
                        }
                    }

                }
            }

            //end header one item
            //start body one item
            .body-item {
                padding: 15px 8px;
                background-color: white;
                border-radius: 0 0 14px 14px;

                .img-go {
                    display: flex;

                    .delivery-point,
                    .pickup-point {
                        margin-right: 10px;

                        h5 {
                            font-size: 12px;
                            color: var(--font);
                        }

                        p {
                            font-size: 14px;
                            text-overflow: ellipsis;
                            width: 96%;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }

                    .delivery-point {
                        margin-top: 30px;
                    }

                }
            }

            //end body one item
            //start fotter one item
            .fotter-item {
                padding: 25px 10px 5px 10px;
                @extend %flex-box;

                .right-fotter {
                    .img-driver {
                        display: flex;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }

                        .about-driver {
                            margin-right: 8px;

                            p {
                                font-size: 12px;
                                color: var(--font);
                            }

                            h4 {
                                font-size: 14px;
                                font-weight: bold;
                            }

                            h5 {
                                font-size: 12px;
                                color: var(--font);
                                font-weight: bold;
                            }
                        }
                    }
                }

                // .left-fotter {
                    // button {
                    //     border: 1px solid var(--font);
                    //     padding: 5px 15px;
                    //     font-size: 14px;
                    //     color: var(--font);
                    //     border-radius: 4px;
                    //     transition: 0.4s;

                    //     &:hover {
                    //         background-color: var(--secound-color);
                    //         color: white;
                    //     }

                    // }
                // }
            }
        }
    }

}