.lay-out-wrapp {
    margin-right: 240px;
    padding: 20px;
    width: 100%;
    
    @media (max-width: 1180px) {
        margin-right: 0px;
        padding: 10px;
    }
}
.lay-out-wrapp:lang(en) {
    margin-left: 240px;
    margin-right: auto;

}

.style-flex-page {
    display: flex;
    justify-content: space-between;

    @media (max-width:910px) {
        flex-direction: column;
    }
}