.no-conneciont-component {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 3;
    background: white;
    svg {
        width: 300px;
        @media (max-width: 750px) {
            width: 200px;
            
        }
    }
    *{
        font-weight: bolder;
    }
}